<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ announcements</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="text/javascript"></script>
		<script src="../js/site.js" type="text/javascript"></script>
        <style type="text/css">
            .announcementTag {
                font-size: .8em;
                padding-top: .2em;
                font-style: italic;
            }
        </style>
	</head>
	<body>
        {{wrapperElementStart}}
        <div style="text-align: left;">
            <div class="contentHeading">Announcements</div>
            {% if announcements|length %}
            {% for announcementData in announcements %}
                <div class="contentContainer">
                    {{announcementData[0]}}
                    <div class="contentContainer announcementTag">- {{announcementData[1]}}</div> 
                </div>
            {% endfor %}
            {% else %}
                <div class="contentContainer">There are no announcements at this time...</div>
            {% endif %}
        </div>
        {{wrapperElementEnd}}
        {{footerElement}}
	</body>
</html>
