<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ help & faq</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="text/javascript"></script>
		<script src="../js/site.js" type="text/javascript"></script>
	</head>
	<body>
        {{wrapperElementStart}}

        <div style="text-align: left;">
            <div class="contentHeading">Help &amp; FAQ</div>
            <div class="contentContainer">
                <b>codathon</b> involves solving multiple questions - typically (<i>but not necessarily</i>) with the aid of programming.<br><br>

                The <b>team</b> (<span style="border-bottom: 1px dotted #777;">up to <b>3</b> members</span>)
                that accumulates the <b>most points</b> in the <b>shortest duration</b> wins the challenge.<br><br>

                The essence of the competition is <b>speed</b> &amp; <b>problem solving</b> ability.
                Since we only accept the <b>final solutions</b> to the questions, we cannot &amp; <b>do not</b> evaluate your programming language choice, style, performance parameters etc.<br><br>

                You can make <b>unlimited submissions</b> for any question until you've <b>solve</b> it.<br>
                Once a question has been <b>solved</b>, you gain the <b>10 points</b> and are presented with the <b>next</b> question.<br>
                We also track the <b>time interval</b> (in seconds) to solve all the questions.<br><br>

                The <b>number of submissions</b> is only considered in case of a tie - where multiple participants achieve the same high-score in the same time duration.<br><br>

                Please remember to keep checking the <b>announcements</b> page for clarifications / updates for problems / rules etc.<br><br>

                If you have any other questions, please send us an <a class="textLink" href="mailto:{{helpEmailId}}">email</a>.
            </div>
        </div>

        {{wrapperElementEnd}}
        {{footerElement}}

	</body>
</html>
