<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ home</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
		<script src="{{jQueryScriptUrl}}" type="text/javascript"></script>
		<script src="../js/site.js" type="text/javascript"></script>
        <script type="text/javascript">
            function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }

            function signIn() {
                var teamCode = prompt("Enter your teamCode:", "")
                if (teamCode == null) return
                if (teamCode.length != 6) alert('Please enter a valid (6 letter) teamCode.')
                else {
				    $.ajax({
					    url: '/checkResult',
                        data: {requestType:"userValidation", teamCode: teamCode},
                        success:
                            function(data) {
								if (data+'' == 'OK') window.location = "/home?teamCode=" + teamCode
							    else alert('Incorrect teamCode. Please try again.')
							},
						error:
                            function(data) { alert("Server Side Issue. Please try again.") }
                    });
				}
            }
        </script>
	</head>
	<body>
        {{wrapperElementStart}}

        We've got the </b>questions.
        All we need are your <b>answers</b> <i>(that's right, no source code required)!</i><br>
        For every question that you <b>solve</b>, you will be given <b>points</b> and presented <b>another</b> question.<br>
        The team that earns the <b>most points</b> in the <b>shortest</b> time wins...<br><br>

        <div style="display: inline-block; margin: 2em 0; width: 100%;" id="loginDiv">
            <img src="../images/signIn.png" style="display: inline; vertical-align: middle; padding-right: 1em; margin-right: 1em; border-right: 2px solid #222;"/>
            {% if teamCode|length > 0 %}
                <a class="textLink" style="font-weight: normal; display: inline-block; vertical-align: middle;" href="/home"><b>SignOut</b></a>
            {% elif currentTimeAsEpochTime >= contestStartTimeAsEpochTime %}
                <div style="text-align: left; display: inline-block; vertical-align: middle;">
                    <span class="textLink" style="font-weight: normal; display: inline-block; line-height: 3em;" onclick="signIn()"><b>SignIn</b> to answer questions</span>
                </div>
            {% endif %}
        </div>

        <div id="countDownBox">{{countDownBoxMarkUp}}</div>

        {{wrapperElementEnd}}
        {{footerElement}}

	</body>
</html>
