<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>codathon ~ questions</title>
		<link rel="stylesheet" href="../css/1140.css" type="text/css" />
		<link rel="stylesheet" href="../css/site.css" type="text/css" />
        <script src="{{jQueryScriptUrl}}" type="text/javascript"></script>
		<script src="../js/site.js" type="text/javascript"></script>
        <script type="text/javascript">
            function renderCountDown(remainingTime) {
                timeComponent = Math.floor(remainingTime / (24 * 60 * 60));
                remainingTime -= timeComponent * (24 * 60 * 60)
                $("#days").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60 * 60))
                remainingTime -= timeComponent * (60 * 60)
                $("#hours").html(zeroPad(timeComponent))
                timeComponent = Math.floor(remainingTime / (60));
                remainingTime -= timeComponent * (60)
                $("#minutes").html(zeroPad(timeComponent))
                timeComponent = remainingTime
                $("#seconds").html(zeroPad(timeComponent))
            }

            function startCountDown(remainingTime) {
                remainingTime = Math.max(0, remainingTime)
                renderCountDown(remainingTime)
                setInterval(function() { if (remainingTime == 0) window.location.reload(); else renderCountDown(--remainingTime) }, 1000)
            }

            function checkSolution() {
                teamCode = '{{teamCode}}'
                currentTimeStamp = Math.round((new Date()).getTime() / 1000)
                answer = $('#answerBox').val()
                if (answer == '') return
                $('#answerBox').val('...processing...')
                $('#answerBox').attr("disabled", "disabled")
                $('#submitButton').attr("disabled", "disabled")
                $.ajax({
                    url: '/checkResult',
                    data: 'requestType=checkUserSolution&teamCode={{teamCode}}&questionId='+{{currentTeamQuestionIndex}}+'&answer='+answer,
                    success: function(data) {
                                if (data == 'OK') {
                                    $('#answerBox').val('...correct answer...')
                                    setTimeout(function() { location.reload(true) }, 2000)
                                } else {
                                    $('#answerBox').val('...wrong answer...')
                                    setTimeout(function() {
                                                    $('#answerBox').val('');
                                                    $('#answerBox').removeAttr("disabled");
                                                    $('#submitButton').removeAttr("disabled")
                                    }, 2000)
                                }
                            },
                    error: function(data) {
                        alert("Server Side Issue. Please try again.");
                        $('#answerBox').val('');
                        $('#answerBox').removeAttr("disabled")
                        $('#submitButton').removeAttr("disabled")
                    }
                });
            }
        </script>
	</head>
	<body>
        {{wrapperElementStart}}

        <div style="text-align: left;">
            <div class="contentHeading" style="display: inline-block; line-height: 1em; width: 100%;">
                <div style="float: left;">Questions</div>
                <div style="float: right;"><span style="font-size: .8em;">[ {{countDownBoxMarkUp}} ]</span></div>
            </div>
            <div style="margin-top: .5em; height: 3em; font-weight: bold; width: 100%; padding-bottom: 0em;">
                <div style="float: left;">
                    <img src="../images/question.png" style="float: left; margin-right: 1em;" alt="" />
                    <div style="float: left; font-size: 3.2em; line-height: 1em; padding-right: .1em; color: #f60;">
                    {% if teamCode|length and currentTimeAsEpochTime >= contestStartTimeAsEpochTime %}
                        {% if currentTeamQuestionIndex > totalQuestions %}
                            <span style="font-size: .3em;">Congratulations!</span><span style="font-size: .25em; color: #ddd;"> You've solved all the questions</span>
                        {% else %}
                            {{currentTeamQuestionIndex}}
                        {% endif %}
                    {% else %} 0 {% endif %}
                    </div>
                    {% if not (teamCode|length and currentTeamQuestionIndex > totalQuestions) %}
                        <div style="float: left; font-size: 1.5em; line-height: 1.2em; padding-right: .1em; letter-spacing: .1em;">/{{totalQuestions}}</div>
                    {% endif %}
                </div>
                <div style="display: block; height: 100%; font-size: .8em; font-style: italic; font-weight: normal; padding-bottom: 1em; border-bottom: 1px dotted #555;">
                    <div style="text-align: right; line-height: 3em;">
                        {% if teamCode|length %} {{currentTeamName}} {% else %} <br> {% endif %}
                    </div>
                    <div style="text-align: right; line-height: .1em;">
                        {% if teamCode|length %}
                            <b>{{currentTeamPoints}} points</b> in {{currentTeamTimeTaken}}
                        {% else %}
                            <b>Please Sign In to view the questions</b>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div style="font-size: .9em;">
                <br>
                {% if teamCode|length and currentTimeAsEpochTime >= contestStartTimeAsEpochTime and currentTimeAsEpochTime < contestEndTimeAsEpochTime and currentTeamQuestionIndex <= totalQuestions %}
                    <div id="qDescription" style="padding-bottom: .6em; padding-top: 1em;">{{currentQuestionMarkup}}</div>
                    <div id="qTestCaseArea" style="display: inline-block; width: 100%; border-top: 1px dotted #555; padding: 1em 0; margin-top: 1em;">
                        <button style="padding: 3px;" onclick="window.open('{{currentQuestionTestCases}}')">Download Test-Cases</button>
                        <button id="submitButton" style="padding: 3px; float: right;" onclick="javascript:checkSolution()">Submit Answer</button>
                        <input id="answerBox" style="float: right; background: #141414; border: 2px solid #222; padding:.1em; margin-right: 1em; color:#bbb; width: 40%; resize:none; font-family: monospace; height: 1.7em;">
                    </div>
                {% endif %}
            </div>
        </div>

        {{wrapperElementEnd}}
        {{footerElement}}

        <script type="text/javascript"> $(document).ready(function(){  $("#userSol").click(function() { $('#userSol').val(''); }); }); </script>

	</body>
</html>
